<ul id="tasks-list" class="list-group">
  {{#each task in model itemController='task'}}
    <li {{ bind-attr class=":list-group-item task.isCompleted:completed" }}>
      <div class="row">
        <div class="task-description col-md-10">
          {{task.description}}
        </div>
        <div class="task-actions col-md-2">
          <div class="pull-right">
            <button class="btn btn-danger btn-xs"
                    type="button"
                    id="delete-task"
                    {{action "removeTask"}}>
                    <i class="fa fa-trash-o fa-lg"></i>
            </button>
            <button class="btn btn-success btn-xs"
                    type="button"
                    id="complete-task"
                    {{action "completeTask"}}>
                    <i class="fa fa-check fa-xs"></i>
            </button>
          </div>
        </div>
      </div>
    </li>
  {{/each}}
</ul>

{{input type='text' id='new-task'
        value=newDescription action='createTask'}}
