<div class="panel panel-default">
  <div {{ bind-attr class="allDone:bg-success :panel-heading" }}>
    <span id="tasks-remaining">{{remaining}} {{inflection}} remaining.</span>
  </div>

  <div class="panel-body">
    <ul id="tasks-list" class="list-group">
      {{#each task in model}}
        <li {{ bind-attr class=":list-group-item task.isCompleted:completed" }}>
          <div class="row">
            {{#link-to "tasks.show" task}}
              <div class="task-description col-md-10 col-sm-10 col-xs-10">
                <span>{{task.description}}</span>
              </div>
            {{/link-to}}
            <div class="task-actions col-md-2 col-sm-2 col-xs-2">
              <div class="pull-right">
                <button class="btn btn-danger btn-xs"
                        type="button"
                        id="delete-task"
                        {{action "removeTask"}}>
                        <i class="fa fa-trash-o fa-lg"></i>
                </button>
                {{#unless task.isCompleted}}
                  <button class="btn btn-success btn-xs"
                          type="button"
                          id="complete-task"
                          {{action "completeTask"}}>
                          <i class="fa fa-check fa-xs"></i>
                  </button>
                {{/unless}}
              </div>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
